altgraph==0.16.1
autopep8==1.4.4
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
future==0.18.2
idna==2.8
MouseInfo==0.1.2
numpy==1.17.3
pandas==0.25.3
pefile==2019.4.18
Pillow==6.2.0
PyAutoGUI==0.9.48
pycodestyle==2.5.0
pycparser==2.19
PyGetWindow==0.0.7
PyInstaller==3.5
PyMsgBox==1.0.7
pyperclip==1.7.0
PyQt5==5.13.0
PyQt5-sip==4.19.19
pyqt5-tools==5.13.0.1.5
PyRect==0.1.4
PyScreeze==0.1.25
python-dateutil==2.8.0
python-dotenv==0.10.3
python-telegram-bot==12.2.0
PyTweening==1.0.3
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.7.0
six==1.12.0
telebot==0.0.3
telegram==0.0.1
tornado==6.0.3
urllib3==1.25.6
